<a href="https://colab.research.google.com/github/bhagyashreeekanamadi/BOGO/blob/main/IMdb_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv('/content/tmdb_movies_data.csv')

In [ ]:
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,137999939.3,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,137999939.3,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,101199955.5,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,183999919.0,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015,174799923.1,1.385749e+09

In [ ]:
df.tail()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
10861,21,tt0060371,0.080598,0,0,The Endless Summer,Michael Hynson|Robert August|Lord 'Tally Ho' B...,NaN,Bruce Brown,NaN,...,"The Endless Summer, by Bruce Brown, is one of ...",95,Documentary,Bruce Brown Films,6/15/1966,11,7.4,1966,0.0000,0.0
10862,20379,tt0060472,0.065543,0,0,Grand Prix,James Garner|Eva Marie Saint|Yves Montand|Tosh...,NaN,John Frankenheimer,Cinerama sweeps YOU into a drama of speed and ...,...,Grand Prix driver Pete Aron is fired by his te...,176,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,12/21/1966,20,5.7,1966,0.0000,0.0
10863,39768,tt0060161,0.065141,0,0,Beregis Avtomobilya,Innokentiy Smoktunovskiy|Oleg Efremov|Georgi Z...,NaN,Eldar Ryazanov,NaN,...,An insurance agent who moonlights as a carthie...,94,Mystery|Comedy,Mosfilm,1/1/1966,11,6.5,1966,0.0000,0.0
10864,21449,tt0061177,0.064317,0,0,"What's Up, Tiger Lily?",Tatsuya Mihashi|Akiko Wakabayashi|Mie Hama|Joh...,NaN,Woody Allen,WOODY ALLEN STRIKES BACK!,...,"In comic Woody Allen's film debut, he took the...",80,Action|Comedy,Benedict Pictures Corp.,11/2/1966,22,5.4,1966,0.0000,0.0
10865,22293,tt0060666,0.035919,19000,0,Manos: The Hands of Fate,Harold P. Warren|Tom Neyman|John Reynolds|Dian...,NaN,Harold P. Warren,It's Shocking! It's Beyond Your Imagination!,...,A family gets lost on the road and stumbles up...,74,Horror,Norm-Iris,11/15/1966,15,1.5,1966,127642.2792,0.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [ ]:
df.describe()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

In [ ]:
df.isnull().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7930
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

In [ ]:
df.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [ ]:
df.shape

(10866, 21)

In [ ]:
#Which year has the highest release of movies?
df['release_year'].value_counts().sort_values(ascending=False).head(1)

release_year
2014    700
Name: count, dtype: int64

In [ ]:
df.groupby('release_year')['id'].count().sort_values(ascending=False).head(1)

release_year
2014    700
Name: id, dtype: int64

In [ ]:
#Top 10 movies which earn highest profit
df['profit']=df['revenue']-df['budget']
df.groupby('original_title')['profit'].sum().sort_values(ascending=False).head(10)

original_title
Avatar                                          2544505847
Star Wars: The Force Awakens                    1868178225
Titanic                                         1632034188
Jurassic World                                  1363528810
Furious 7                                       1316249360
The Avengers                                    1288080742
Harry Potter and the Deathly Hallows: Part 2    1202817822
Frozen                                          1127284869
Avengers: Age of Ultron                         1125035767
The Net                                         1084279658
Name: profit, dtype: int64

In [ ]:

df.sort_values(by='profit',ascending=False)[['original_title','profit']].head(10)

                                    original_title      profit
1386                                        Avatar  2544505847
3                     Star Wars: The Force Awakens  1868178225
5231                                       Titanic  1645034188
0                                   Jurassic World  1363528810
4                                        Furious 7  1316249360
4361                                  The Avengers  1299557910
3374  Harry Potter and the Deathly Hallows: Part 2  1202817822
14                         Avengers: Age of Ultron  1125035767
5422                                        Frozen  1124219009
8094                                       The Net  1084279658

In [ ]:
#Movie with Highest And Lowest Budget?

In [ ]:
df[df['budget'].max()==df['budget']]['original_title']

2244    The Warrior's Way
Name: original_title, dtype: object

In [ ]:
df[df['budget']==1]['original_title']

1151                           Fear Clinic
2618                          Lost & Found
3065    Angus, Thongs and Perfect Snogging
3581               Love, Wedding, Marriage
Name: original_title, dtype: object

In [ ]:
#Which movie made the highest revenue and lowest as well?
df.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj', 'profit'],
      dtype='object')

In [ ]:
df[df['revenue'].max()==df['revenue']]['original_title']

1386    Avatar
Name: original_title, dtype: object

In [ ]:
df[df['revenue'].min()==df['revenue']]['original_title']

48                            Wild Card
67                             Survivor
74               Mythica: The Darkspore
75       Me and Earl and the Dying Girl
92             Mythica: The Necromancer
                      ...
10861                The Endless Summer
10862                        Grand Prix
10863               Beregis Avtomobilya
10864            What's Up, Tiger Lily?
10865          Manos: The Hands of Fate
Name: original_title, Length: 6016, dtype: object

In [ ]:
#Movie with shorest and longest runtime?
df.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj', 'profit'],
      dtype='object')

In [ ]:
df[df['runtime'].max()==df['runtime']][['original_title','runtime']]

                     original_title  runtime
3894  The Story of Film: An Odyssey      900

In [ ]:
df[df['runtime'].min()==df['runtime']][['original_title','runtime']]

                     original_title  runtime
92         Mythica: The Necromancer        0
334                         Ronaldo        0
410                  Anarchy Parlor        0
445   The Exorcism of Molly Hartley        0
486              If There Be Thorns        0
595                       Deep Dark        0
616                    The Outfield        0
1241                      Dance-Off        0
1289                      Treehouse        0
1293                       Tim Maia        0
1849                   Spectacular!        0
2315           Listen to Your Heart        0
2370                Freshman Father        0
3329       Grande, grosso e Verdone        0
3794           Toi, moi, les autres        0
3857                       Cell 213        0
3884                         eCupid        0
4063         Madea's Family Reunion        0
4138             A Time for Dancing        0
4829                           Rags        0
4944            How to Fall in Love        0
5216          Madea's Class Reunion        0
5695               Skinwalker Ranch        0
5920         The Food Guide to Love        0
5938                    Go Goa Gone        0
5992               Amiche da morire        0
6040          The Vatican Exorcisms        0
6383       The 12 Dogs of Christmas        0
6552                Quatre Ã©toiles        0
6934                  Jean-Philippe        0
8874                Mission Kashmir        0

In [ ]:
#Which movie get the highest or lowest votes (Ratings).
df.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj', 'profit'],
      dtype='object')

In [ ]:
df[df['vote_average'].max()==df['vote_average']][['original_title','vote_average']]

                     original_title  vote_average
3894  The Story of Film: An Odyssey           9.2

In [ ]:
df[df['vote_average'].min()==df['vote_average']][['original_title','vote_average']]

                 original_title  vote_average
7772              Transmorphers           1.5
10865  Manos: The Hands of Fate           1.5

In [ ]:
#Which Year Has The Highest Profit Rate?

df.columns

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj', 'profit'],
      dtype='object')

In [ ]:
df.groupby('release_year')['profit'].mean().sort_values(ascending=False).head(1)

release_year
1995    3.594547e+07
Name: profit, dtype: float64

In [ ]:
#Which length movies most liked by the audiences according to their popularity?
df.groupby('runtime')['popularity'].mean().sort_values(ascending=False).head(3)

runtime
169    7.279679
194    4.355219
201    3.687482
Name: popularity, dtype: float64

In [ ]:
#Average Runtime Of Movies From Year To Year?
df.groupby('release_year')['runtime'].mean()

release_year
1960    110.656250
1961    119.419355
1962    124.343750
1963    111.323529
1964    109.214286
1965    118.171429
1966    106.891304
1967    104.950000
1968    107.282051
1969    106.580645
1970    112.048780
1971    107.727273
1972    101.950000
1973    103.527273
1974    105.617021
1975    107.363636
1976    109.319149
1977    107.105263
1978    110.076923
1979    112.017544
1980    107.500000
1981    105.865854
1982    103.925926
1983    103.000000
1984    103.466667
1985    114.339450
1986     99.933884
1987    101.168000
1988    101.793103
1989    104.781022
1990    105.651515
1991    105.112782
1992    107.030075
1993    107.123596
1994    106.913043
1995    107.548571
1996    105.705882
1997    106.505208
1998    105.061905
1999    108.861607
2000    103.779736
2001    108.033058
2002    106.864662
2003    100.679715
2004    105.364821
2005    102.686813
2006    101.683824
2007    100.410959
2008    100.280242
2009     98.050657
2010     98.120408
2011     97.922222
2012     97.971088
2013     96.044006
2014     98.331429
2015     96.375199
Name: runtime, dtype: float64